.profile {
    margin: 10px;
    width: 250px;
    height: 330px;
    box-shadow: 0 1px 3px rgba(191, 205, 222, 0.75);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .description {
    height: 256px;
    padding-top: 20px;
    text-align: center;
  }
  
  .avatar {
    display: block;
    margin: 0 auto 30px;
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  .name {
    margin: 0 0 10px 0;
    color: #122236;
    font-size: 18px;
    font-weight: 700;
  }
  
  .tag {
    margin: 0 0 10px 0;
    color: #768696;
    font-size: 14px;
  }
  
  .location {
    margin: 0;
    color: #768696;
    font-family: Lato;
    font-size: 14px;
  }
  
  .stats {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
    height: 74px;
    border-top: 1px solid #e4e9f0;
    background-color: #f3f6f9;
    display: flex;
  }
  
  .statsItem {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .statsItem:not(:last-child) {
    border-right: 1px solid #e4e9f0;
  }
  
  .label {
    display: block;
    color: #768696;
    font-size: 12px;
  }
  
  .quantity {
    display: block;
    color: #1f3349;
    font-weight: 900;
    font-size: 14px;
  }