.table {
    margin: 10px;
    width: 90%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  }
  
  .thead {
    background-color: #00bcd4;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .th {
    padding: 16px;
  }
  
  .td {
    padding: 16px;
    text-transform: capitalize;
    text-align: center;
    color: #5c6975;
    font-size: 15px;
  }
  
  .itemTr:nth-child(even) {
    background-color: #ecf2f3;
  }